<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Edit Order</h5>
                        <p class="card-text">
                        <form th:action="@{/order/update/process}" method="POST">
                            <div th:replace="fragments/order_form :: order-form(${order})"></div>
                            <div class="text-center">
                                <input type="hidden" name="orderId" th:value="${order.getOrderId()}">
                                <input type="submit" class="btn btn-primary" value="Update order"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
</body>
</html>
