<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <h1>Orders</h1>
    <table>
        <tr>
            <th>Stock Symbol</th>
            <th>Operation</th>
            <th>Quantity</th>
            <th>Fulfilled</th>
            <th>Price</th>
            <th>Status</th>
            <th>Order date</th>
            <th>Actions</th>
        </tr>
        <tr th:each="order: ${orders}">
            <td th:text="${order.getCompanyAbbrev()}" />
            <td th:text="${order.getOrderType()}" />
            <td th:text="${order.getNumberOrdered()}" />
            <td th:text="${order.getNumberFulfilled()}" />
            <td th:text="${order.getPrice()}" />
            <td th:text="${order.getStatus()}" />
            <td th:text="${order.getOrderTimestamp()}" />
            <td>
                <a th:href="@{/order/{orderId}(orderId=${order.getOrderId()})}" class="btn">View</a>
                <form method="POST" th:action="@{/order/cancel}">
                    <input type="hidden" name="orderId" th:value="${order.getOrderId()}">
                    <button type="submit" name="submit" value="value" class="btn">Cancel</button>
                </form>
                <a th:href="@{/order/edit/{orderId}(orderId=${order.getOrderId()})}" class="btn">Edit</a>

            </td>
        </tr>
    </table>
    <a th:href="@{/order/create}" class="btn btn-primary">New Order</a>
</div>
</body>
</html>
