<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${message} != null">
        <div class="alert alert-success" role="alert" th:text="${message}"></div>
    </th:block>
    <h1>Orders</h1>
    <table>
        <tr>
            <th>Stock Symbol</th>
            <th>Order date</th>
            <th>Quantity</th>
            <th>Fulfilled</th>
            <th>Price</th>
            <th>Status</th>
            <th>Operation</th>
        </tr>
        <tr th:each="order: ${orders}">
            <td th:text="${order.getCompanyAbbrev()}" />
            <td th:text="${order.getOrderTimestamp()}" />
            <td th:text="${order.getNumberOrdered()}" />
            <td th:text="${order.getNumberFulfilled()}" />
            <td th:text="${order.getPrice()}" />
            <td th:text="${order.isOrderActive()}" />
            <td th:text="${order.getOrderType()}" />
        </tr>
    </table>
</div>
</body>
</html>
