<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>

    </style>
</head>
<body>
<div layout:fragment="content">
    <h3 style="margin-top: 30px;">Orders</h3>
    <table class="table" style="margin-top: 20px;">
        <tr>
            <th>Stock Symbol</th>
            <th>Operation</th>
            <th>Quantity</th>
            <th>Fulfilled</th>
            <th>Price</th>
            <th>Status</th>
            <th>Order date</th>
            <th>Actions</th>
        </tr>
        <tr th:each="order: ${orders}">
            <td th:text="${order.getCompanyAbbrev()}"/>
            <td th:text="${order.getOrderType()}"/>
            <td th:text="${order.getNumberOrdered()}"/>
            <td th:text="${order.getNumberFulfilled()}"/>
            <td th:text="${order.getPrice()}"/>
            <td th:text="${order.getStatus()}"/>
            <td th:text="${order.getOrderTimestamp()}"/>
            <td>
                <div class="d-flex">
                    <a th:href="@{/order/{orderId}(orderId=${order.getOrderId()})}"
                       class="btn btn-success btn-sm btn-block">view</a>
                    <form method="POST" th:action="@{/order/cancel}" class="ps-1 pe-1">
                        <input type="hidden" name="orderId" th:value="${order.getOrderId()}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger btn-sm btn-block">cancel</button>
                    </form>
                    <a th:href="@{/order/edit/{orderId}(orderId=${order.getOrderId()})}"
                       class="btn btn-warning btn-sm btn-block">edit</a>
                </div>

            </td>
        </tr>
    </table>
    <div class="text-end">
        <a th:href="@{/order/create}" class="btn btn-primary btn-sm btn-block">+ add new order</a>
    </div>

</div>
</body>
</html>
