<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <h1>Trade History</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>For Order</th>
            <th>Trade time</th>
            <th>Exchange</th>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Price Per Share</th>
        </tr>
        <tr th:each="trade: ${trades}">
            <td th:text="${trade.getTradeId()}" />
            <td><form method="POST" th:action="@{/order/view}" class="ps-1 pe-1">
                <input type="hidden" name="orderId"
                       th:value="${trade.getConnectedOrder().getOrderId()}">
                <button type="submit" name="submit" value="value" class="btn btn-primary btn-sm"
                th:text="${trade.getConnectedOrder().getOrderId()}"></button>
            </form></td>
            <td th:text="${trade.getFormattedTimestamp()}" />
            <td th:text="${trade.getConnectedOrder().getExchangeId()}" />
            <td th:text="${trade.getConnectedOrder().getCompanyAbbrev()}" />
            <td th:text="${trade.getNumberTraded()}" />
            <td th:text="${trade.getFormattedPrice('£')}" />
        </tr>
    </table>
</div>
</body>
</html>
