<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">

    <h1>Create Order</h1>
    <form th:action="@{/order/create}" method="post">
        Quantity :
        <input type="text" name="numberOrdered"/><br>
        Price :
        <input type="text" name="price"/> <br>
        Order Type :
        <select name="OrderType">
            <option value="BUY">BUY</option>
            <option value="SELL">SELL</option>
        </select>
        <br>
        Stock Symbol :
        <select name="companyAbbrev">
            <option value="AAPL">AAPL</option>
            <option value="AMZN">AMZN</option>
            <option value="NKE">NKE</option>
            <option value="WMT">WMT</option>
            <option value="GOOGL">GOOGL</option>
        </select>
        <br />
        <input type="submit" value="CREATE ORDER"/>
    </form>
</div>
</body>
</html>
