<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1> Registration form </h1>

<form action="/registerProcess" method="POST">

User Name : <input type="text" name="userName"/><br>
User Password : <input type="password" name="userPassword"/> <br>
User Email : <input type="email" name="userEmail"/> <br>

<input type="submit" value="REGISTER"/> 
</form>
</body>
</html>