<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <h1>View Order</h1>
    <table class="table">
        <tr>
            <th>Order Details</th>
            <th></th>
        </tr>
        <tr>
            <td>Stock Symbol</td>
            <td th:text="${order.getCompanyAbbrev()}"></td>
        </tr>
        <tr>
            <td>Operation</td>
            <td th:text="${order.getOrderType()}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td th:text="${order.getNumberOrdered()}"></td>
        </tr>
        <tr>
            <td>Fulfilled</td>
            <td th:text="${order.getNumberFulfilled()}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td th:text="${order.getPrice()}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${order.getStatus()}"></td>
        </tr>
        <tr>
            <td>Order date</td>
            <td th:text="${order.getOrderTimestamp()}"></td>
        </tr>
    </table>
</div>
</body>
</html>
